/**
 * index component's styles
 *
 * @author Yuriy Matviyuk
 */

.profile-photo-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: max-content;

    .profile-photo {
        box-shadow: $light-shadow;
        overflow: hidden;
        border-radius: $border-radius-base;
        height: 200px;
        width: 150px;
    }

    .edit {
        box-shadow: $light-shadow;
        position: absolute;
        background: rgba(255,255,255,.8);
        border-radius: 50%;
        right: -7px;
        top: -7px;
        height: 25px;
        width: 25px;

        &:before {
            height: 25px;
            width: 25px;
            font-size: 14px;
        }
    }
}

.profile-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.user-profile-info {
    font-size: 16px;
    text-align: center;
}

.user-profile-info-row {
    margin: 5px 0;
}

.profile-form-actions {
    text-align: center;
}

.form-field.profile-gender-field {
    margin-top: 10px;
}
