{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react", "babel"
    ],
    "rules": {
        "no-trailing-spaces": "off",
        "no-tabs": "off",
        "ident": "off",
        "no-mixed-spaces-and-tabs": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}