@import '../../variables/fonts.scss';

/*
  Font Family Font-Awesome light
*/
@font-face {
    font-family: $font-family-FA;
    src: url('/fonts/fa-light-300.eot');
    src: url('/fonts/fa-light-300.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fa-light-300.woff') format('woff'),
         url('/fonts/fa-light-300.woff2') format('woff2'),
         url('/fonts/fa-light-300.ttf') format('truetype'),
         url('/fonts/fa-light-300.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $font-family-FA;
    src: url('/fonts/fa-solid-900.eot');
    src: url('/fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fa-solid-900.woff') format('woff'),
         url('/fonts/fa-solid-900.woff2') format('woff2'),
         url('/fonts/fa-solid-900.ttf') format('truetype'),
         url('/fonts/fa-solid-900.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

/*
  Font Family San Francisco
*/

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-HeavyItalic.eot');
    src: local('SF UI Text Heavy Italic'), local('/fonts/SFUIText-HeavyItalic'),
    url('/fonts/SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-HeavyItalic.woff') format('woff'),
    url('/fonts/SFUIText-HeavyItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-LightItalic.eot');
    src: local('SF UI Text Light Italic'), local('/fonts/SFUIText-LightItalic'),
    url('/fonts/SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-LightItalic.woff') format('woff'),
    url('/fonts/SFUIText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-MediumItalic.eot');
    src: local('SF UI Text Medium Italic'), local('/fonts/SFUIText-MediumItalic'),
    url('/fonts/SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-MediumItalic.woff') format('woff'),
    url('/fonts/SFUIText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Medium.eot');
    src: local('SF UI Display Medium'), local('/fonts/SFUIDisplay-Medium'),
    url('/fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Medium.woff') format('woff'),
    url('/fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Regular.eot');
    src: local('SF UI Display Regular'), local('/fonts/SFUIDisplay-Regular'),
    url('/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('/fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Light.eot');
    src: local('SF UI Display Light'), local('/fonts/SFUIDisplay-Light'),
    url('/fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Light.woff') format('woff'),
    url('/fonts/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Thin.eot');
    src: local('SF UI Display Thin'), local('/fonts/SFUIDisplay-Thin'),
    url('/fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Thin.woff') format('woff'),
    url('/fonts/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Ultralight.eot');
    src: local('SF UI Display Ultralight'), local('/fonts/SFUIDisplay-Ultralight'),
    url('/fonts/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Ultralight.woff') format('woff'),
    url('/fonts/SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Semibold.eot');
    src: local('SF UI Text Semibold'), local('/fonts/SFUIText-Semibold'),
    url('/fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Semibold.woff') format('woff'),
    url('/fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Semibold.eot');
    src: local('SF UI Display Semibold'), local('/fonts/SFUIDisplay-Semibold'),
    url('/fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Semibold.woff') format('woff'),
    url('/fonts/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Regular.eot');
    src: local('SF UI Text Regular'), local('/fonts/SFUIText-Regular'),
    url('/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Regular.woff') format('woff'),
    url('/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Black.eot');
    src: local('SF UI Display Black'), local('/fonts/SFUIDisplay-Black'),
    url('/fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Black.woff') format('woff'),
    url('/fonts/SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-BoldItalic.eot');
    src: local('SF UI Text Bold Italic'), local('/fonts/SFUIText-BoldItalic'),
    url('/fonts/SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-BoldItalic.woff') format('woff'),
    url('/fonts/SFUIText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Bold.eot');
    src: local('SF UI Text Bold'), local('/fonts/SFUIText-Bold'),
    url('/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Bold.woff') format('woff'),
    url('/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Heavy.eot');
    src: local('SF UI Display Heavy'), local('/fonts/SFUIDisplay-Heavy'),
    url('/fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Heavy.woff') format('woff'),
    url('/fonts/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Light.eot');
    src: local('SF UI Text Light'), local('/fonts/SFUIText-Light'),
    url('/fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Light.woff') format('woff'),
    url('/fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Heavy.eot');
    src: local('SF UI Text Heavy'), local('/fonts/SFUIText-Heavy'),
    url('/fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Heavy.woff') format('woff'),
    url('/fonts/SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Medium.eot');
    src: local('SF UI Text Medium'), local('/fonts/SFUIText-Medium'),
    url('/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Medium.woff') format('woff'),
    url('/fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-display;
    src: url('/fonts/SFUIDisplay-Bold.eot');
    src: local('SF UI Display Bold'), local('/fonts/SFUIDisplay-Bold'),
    url('/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('/fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-Italic.eot');
    src: local('SF UI Text Italic'), local('/fonts/SFUIText-Italic'),
    url('/fonts/SFUIText-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-Italic.woff') format('woff'),
    url('/fonts/SFUIText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $font-family-sf-ui-text;
    src: url('/fonts/SFUIText-SemiboldItalic.eot');
    src: local('SF UI Text Semibold Italic'), local('/fonts/SFUIText-SemiboldItalic'),
    url('/fonts/SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFUIText-SemiboldItalic.woff') format('woff'),
    url('/fonts/SFUIText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
