/**
 * @author Yuriy Matviyuk
 */
.cookies-banner {
    position: fixed;
    text-align: center;
    bottom: 0;
    background: $color-white;
    padding: $padding-base;
    box-shadow: $light-shadow;
    z-index: 100;

    &__link {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__message {
        margin-bottom: 10px;
    }
}
