/**
 * @author Yuriy Matviyuk
 */
.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.logo {
    background: $color-white;
    padding: $padding-base 30px;
    display: inline-block;

    img {
        display: block;

        @media (--mobile) {
            height: 25px;
        }
    }
}
