/**
 * @author Yuriy Matviyuk
 */
.user-preview {
    display: block;
    border-radius: $border-radius-base;
    box-shadow: $light-shadow;
    overflow: hidden;
    width: 100%;
    margin: 10px auto;
    position: relative;

    .user-info {
        color: $color-white;
        position: absolute;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;

        > p {
            margin-bottom: 3px;
        }
    }

    .user-name {
        font-size: 22px;
    }

    .user-age,
    .user-distance {
        font-size: 18px;
    }

    .user-actions {
        position: absolute;
        top: 15px;
        right: 15px;
        height: auto;
        width: 35px;
        flex-direction: column;

        .like,
        .chat {
            &:before {
                text-shadow: $icon-shadow;
            }
        }

        .like {
            &:before {
                color: $color-red;
            }

            &._add,
            &._remove {
                &:after {
                    transform: rotate(45deg);
                    transition: transform .3s;
                    content: $fa-x;
                    font-weight: 600;
                    font-family: $font-family-FA;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 12px;
                    position: absolute;
                    background: rgba(255,255,255,.8);
                    box-shadow: $light-shadow;
                    padding: 2px;
                    bottom: 5px;
                    height: 10px;
                    width: 10px;
                    right: 0;
                    color: $color-green;
                }
            }

            &._remove:after {
                transform: rotate(0deg);
                line-height: 5px;
                color: $color-red;
            }
        }

        .chat {
            &:before {
                color: $color-green;
            }
        }
    }

    img {
        width: 100%;
        display: block;
        height: auto;
        max-height: 100%;
    }
}