/**
 * index component's styles
 *
 * @author Yuriy Matviyuk
 */
@import "Message.scss";

.chat-messages-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - (#{$icon-button-height} + #{$padding-base} * 2) * 2);
    overflow-y: auto;
    overflow-x: hidden;
    padding: $padding-base 0;
}