/**
 * index component's styles
 *
 * @author Yuriy Matviyuk
 */
$background-color-own-message: $color-blue;
$background-color-message: $color-blue;

.chat-message-wrapper {
    display: block;
    max-width: 70%;

    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    &:not(.own) .chat-message-view {
        background: $background-color-message;
        border-bottom-left-radius: 0;
    }

    &.own {
        align-self: flex-end;

        .chat-message-view {
            background: $background-color-own-message;
            border-bottom-right-radius: 0;
        }

        .chat-message-date {
            text-align: right;
        }
    }

    .message-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        cursor: pointer;
    }
}

.chat-message-view {
    display: flex;
    flex-direction: column;
    padding: 7px 10px;
    border-radius: 15px;
    color: $color-white;
}

.chat-message-text {
    word-break: break-word;
    display: inline-block;
}

.chat-message-date {
    font-size: 10px;
    margin-top: 2px;
}