/**
 * @author Yuriy Matviyuk
 */

$color-blue: #2e3543;
$color-dark-grey: #333333;
$color-green-light: #4f8000;
$color-green-shine: #23c625;
$color-green: #00804e;
$color-grey: #808080;
$color-light-grey: #efefef;
$color-grey-2: #6a7480;
$color-purple: #69807F;
$color-red: #ff0043;
$color-white: #FFFFFF;

$color-base: $color-dark-grey;
$color-online: $color-green-light;
