/**
 * @author Yuriy Matviyuk
 */

$color-white: #FFFFFF;
$color-grey: #333333;
$color-red: #ff0043;
$color-green: #00804e;
$color-green-light: #4f8000;
$color-base: $color-grey;
$color-online: $color-green-light;
