$icon-font-size-base: 22px;
$icon-shadow: 0 0 6px rgba(0,0,0,.4);

/*
  FA icons
*/
$fa-angle-left    : '\f104';
$fa-circle        : '\f111';
$fa-check         : '\f00c';
$fa-clip          : '\f0c6';
$fa-comments-alt  : '\f4b6';
$fa-heart         : '\f004';
$fa-home          : '\f015';
$fa-map-marker    : '\f3c5';
$fa-menu          : '\f39c';
$fa-pen           : '\f304';
$fa-plane         : '\f1d8';
$fa-video         : '\f03d';
$fa-ring          : '\f0f3';
$fa-ring-slash    : '\f1f6';
$fa-route         : '\f4d7';
$fa-spin          : '\f3f4';
$fa-user          : '\f007';
$fa-x             : '\f00d';
