/**
 * @author Yuriy Matviyuk
 */

// Breakpoints
$md: 768px; // tablet
$lg: 1025px; // desktop

$layout-max-width: 1440px;

// Idents
$padding-sm: 5px;
$padding-md: 10px;
$padding-base: $padding-sm;
