/**
 * @author Yuriy Matviyuk
 */
$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;

$font-size-base: $font-size-m; // Base font-size

$font-size-h1-sm: 24px; // Mobile
$font-size-h1-md: 28px; // Tablet
$font-size-h1-lg: 32px; // Desktop

$margin-h1-sm: 15px;
$margin-h1-md: 15px;
$margin-h1-lg: 15px;
