/**
 * @author Yuriy Matviyuk
 */
.actions {
    display: inline-flex;
    height: $icon-button-height;
    position: relative;
}

.action {
    @add-mixin icon-button;
    &:before {
        color: $color-base;
    }

    &.edit:before {
        content: $fa-pen;
    }

    &.close:before {
        content: $fa-x;
    }

    &.back:before {
        content: $fa-angle-left;
    }

    &.attach-file:before {
        content: $fa-clip;
    }

    &.online:before {
        content: $fa-circle;
        font-weight: bold;
        font-size: 8px;
        color: $color-online;
    }

    &.video {
        &:before {
            content: $fa-video;
        }

        &.active {
            &:before {
                font-weight: bold;
                color: $color-red;
            }
        }
    }

    &.like {
        &:before {
            content: $fa-heart;
        }
    }

    &.send-message:before {
        content: $fa-plane;
    }

    &.home:before {
        content: $fa-home;
    }

    &.remove {
        background: rgba(255,255,255,.8);
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -8px;
        box-shadow: $light-shadow;
        transform: scale(.6);

        &:before {
            content: $fa-x;
        }
    }

    &.chat:before {
        content: $fa-comments-alt;
    }

    &.nav {
        &:before {
            content: $fa-angle-left;
        }
    }

    &.next {
        transform: rotate(180deg);
    }

    &.profile:before {
        content: $fa-user;
    }

    &.notifications:before {
        content: $fa-ring;
    }

    &.active {
        &.edit:before {
            content: $fa-check;
        }
    }

    &.bold {
        font-weight: bold;
    }
}
 